aside {
    width: 360px;
    height: 100vh;
    padding: 1rem;
    background-color: #52143e;
    overflow-y: auto;
    transition: all 900ms ease-in;

    label {
        color: white;
        display: block;
        text-transform: capitalize;
        margin: 0.5rem;
    }

    input {
        margin-right: 0.5rem;
    }

    hr {
        margin: 1rem 0;
    }

}